$size-lg: 60px;
$size-md: 50px;
$size-sm: 40px;

.discovered{
  transition: opacity 400ms linear;
  opacity: 1;
}

.undiscovered{
  transition: opacity 400ms linear;
  opacity: 0;
}

.other{
  background-color: yellow;
}

.alkali-metal{
  background: red;
}
.alkaline-earth-metal{
  background: orange;
}
.lanthanide{
  background: pink;
}
.actinide{
  background: purple;
}
.transition-metal{
  background: salmon;
}
.post-transition-metal{
  background: gray;
}
.metalloid{
  background: brown;
}

.noble-gas{
  background: turquoise;
}

.halogen{
  background-color: lightblue;
}

.unknown{
  background-color: lightgray;
}

.element{
  width: $size-lg;
  height: $size-lg;
  border: 1px solid rgba(0,0,0,.1);
  cursor: pointer;
  float: left;
}

.table{
  float: none !important;
  margin: auto;
  max-width: 1120px !important;
  min-width: 1120px !important;
  margin-top: 10px !important;
}

#H{
  margin-right: $size-lg * 16 !important;
}

#H, #Li, #Na, #K, #Rb, #Cs, #Fr{
  clear: left;
}


#Be, #Mg{
  margin-right: $size-lg * 10;
}

#Ba, #Ra{
  margin-right: $size-lg;
}

#La, #Ce, #Pr, #Nd, #Pm, #Sm, #Eu, #Gd, #Tb, #Dy, #Ho, #Er, #Tm, #Yb, #Lu{
  margin-top: 20px !important;
}

#La, #Ac{
  margin-left: ($size-lg*3)
}


.element-container{
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.element-number{
  font-size: 12px !important;
  font-weight: 300;
}
.element-weight{
  font-size: 10px !important;
  font-weight: 300;
}
.element-symbol{
  font-size: 27px !important;
  font-weight: 100;
}

p{
  padding: 0;
  margin: -4px !important;
}


@media(max-width: 1310px){
  .element-weight, .element-number{
    font-size: 10px !important;
  }

  .element-symbol{
    font-size: 20px !important;
  }

  p{
    margin: -3px !important;
  }
  .table{
    min-width: 955px !important;
    width: 955px !important;
  }
  .element{
    width: $size-md;
    height: $size-md;
  }
  #H{
    margin-right: $size-md * 16 !important;
  }
  #Be, #Mg{
    margin-right: $size-md * 10;
  }

  #Ba, #Ra{
    margin-right: $size-md;
  }

  #La, #Ac{
    margin-left: ($size-md*3)
  }
}

@media(max-width: 950px){
  .element-weight, .element-number{
    font-size: 9px !important;
  }

  .element-symbol{
    font-size: 18px !important;
  }

  p{
    margin: -4px !important;
  }
  .table{
    min-width: 775px !important;
    width: 775px !important;
  }
  .element{
    width: $size-sm;
    height: $size-sm;
  }
  #H{
    margin-right: $size-sm * 16 !important;
  }
  #Be, #Mg{
    margin-right: $size-sm * 10;
  }

  #Ba, #Ra{
    margin-right: $size-sm;
  }

  #La, #Ac{
    margin-left: ($size-sm*3)
  }
}

