<div class="col-xs-12 main-container" [style.opacity]="(moreInfo || showRanking) ? 0 : 1">
<h1 class=" col-xs-12 text-center">
  Periodic Table of Elements
</h1>
  <div class="btn-group col-xs-12">
    <button type="button" class="col-xs-12 btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Change View <span class="caret"></span>
    </button>
    <ul class="dropdown-menu col-xs-12">
      <li><a class="dropdown-item col-xs-12" ngClass="{{style==='classic' ? 'active' : ''}}" (click)="setStyle('classic')">Classic</a></li>
      <li><a class="dropdown-item col-xs-12" ngClass="{{style==='crustAbundance' ? 'active' : ''}}" (click)="setStyle('crustAbundance')">Crust Abundance</a></li>
      <li><a class="dropdown-item col-xs-12" ngClass="{{style==='humanAbundance' ? 'active' : ''}}" (click)="setStyle('humanAbundance')">Human Abundance</a></li>
      <li><a class="dropdown-item col-xs-12" ngClass="{{style==='universeAbundance' ? 'active' : ''}}" (click)="setStyle('universeAbundance')">Universe Abundance</a></li>
      <li><a class="dropdown-item col-xs-12" ngClass="{{style==='discoveryYear' ? 'active' : ''}}" (click)="discoveryShow()">Order of Discovery</a></li>
    </ul>
  </div>
</div>

<div class="col-xs-12"  *ngIf="style === 'discoveryYear'">
  <input (click)="clearCounter()" (mousedown)="clearCounter()" type="range" class="col-xs-12 yearSlider" min="0" max="{{currYear}}" [(ngModel)]="year"
         [style.background]="sanitizer.bypassSecurityTrustStyle('-moz-linear-gradient(left,  aliceblue 0%, aliceblue '+(year/currYear*100)+'%, gray '+(year/currYear*100)+'%, gray 100%)')"
  [style.background]= "sanitizer.bypassSecurityTrustStyle('-webkit-gradient(linear, left top, right top, color-stop(0%,aliceblue), color-stop('+(year/currYear*100)+'%,aliceblue), color-stop('+(year/currYear*100)+'%,gray), color-stop(100%,gray))')"
  [style.background]= "sanitizer.bypassSecurityTrustStyle('-webkit-linear-gradient(left,  aliceblue 0%,aliceblue '+(year/currYear*100)+'%,gray '+(year/currYear*100)+'%,gray 100%)')"
  [style.background]= "sanitizer.bypassSecurityTrustStyle('-o-linear-gradient(left,  aliceblue 0%,aliceblue '+(year/currYear*100)+'%,gray '+(year/currYear*100)+'%,gray 100%)')"
  [style.background]= "sanitizer.bypassSecurityTrustStyle('-ms-linear-gradient(left,  aliceblue 0%,aliceblue '+(year/currYear*100)+'%,gray '+(year/currYear*100)+'%,gray 100%)')"
  [style.background]= "sanitizer.bypassSecurityTrustStyle('linear-gradient(to right,  aliceblue 0%,aliceblue '+(year/currYear*100)+'%,gray '+(year/currYear*100)+'%,gray 100%)')" />
  <div class="text-center lead">{{year === currYear ? 'Now' : year+' CE'}}</div>
</div>

<div [style.opacity]="(moreInfo || showRanking) ? 0 : 1" class="table" ngClass="{{style}}" *ngIf="!moreInfo">
    <div *ngFor="let e of elements;" id="{{e.basicProps.symbol}}"  (click)="style== 'classic' ? showMore(e) : ''"
         ngClass="{{e.type}} {{e.discoveryYear > year? 'undiscovered' : 'discovered'}}" class="element">
          <div class='element-symbol text-center'>{{e.basicProps.symbol}}</div>
          <div class='element-number text-center'>{{e.basicProps['atomic number']}}</div>
          <div class='element-weight text-center'>{{e.basicProps['atomic mass'] | atomicMass}}</div>
    </div>
</div>

<button *ngIf="style !== 'classic'" class="col-xs-8 col-xs-offset-2 btn btn-default" (click)="ranking()">
  See Rankings
</button>
<element-ranking-component [style.opacity]="(showRanking  && !moreInfo) ? 1 : 0" (closeRanking)="ranking($event)"
                           [moreInfo]="moreInfo" [showRanking]="showRanking" (showMore)="showMore($event)" [style]="style" [elements]="elements | ranking:style"></element-ranking-component>
<element-info-component [style.opacity]="moreInfo ? 1 : 0"  (showMore)="showMore($event)" [moreInfo]="moreInfo" [element]="selectedElement"></element-info-component>
