@import "./styles/classic.table";
@import "./styles/universe-abundance.table";
@import "./styles/human-abundance.table";
@import "./styles/crust-abundance.table";

.main-container{
  margin-top: 20px;
  margin-bottom: 20px;
}
.universeAbundance, .humanAbundance, .crustAbundance{
  .element{
    cursor: auto;
  }
}

element-info-component, .main-container{
  transition: all .25s linear;
}
.ranking{
  width: 96%;
  margin: 2px 2% !important;
  cursor: pointer;
  border: .5px solid rgba(black, .2);
  border-radius: 6px;
  font-weight: 400 !important;
  float: left;
  @media (max-width: 720px) {
    width: 96%;
    margin: 2px 2% !important;
  }
}
.dropdown-menu{
  left: 15px !important;
  a{
    cursor: pointer;
  }
}
.ranking:hover{
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari */
  transform: scale(1.02); /* Standard syntax */
}

.universeAbundance, .humanAbundance {
  .Alkali-Metal {
    .element-symbol {
      background-color: #ff9999;
    }
  }

  .Alkaline-Earth-Metal {
    .element-symbol {
      background-color: #ffb499;
    }
  }

  .Lanthanide {
    .element-symbol {
      background-color: #ffdb99;
    }
  }

  .Actinide {
    .element-symbol {
      background-color: #f3a5f3;
    }
  }

  .Transition-Metal {
    .element-symbol {
      background-color: #ffff99;
    }
  }

  .Post-Transition-Metal {
    .element-symbol {
      background-color: #99ff99;
    }
  }

  .Metalloid {
    .element-symbol {
      background-color: #1aa6c9;
    }
  }

  .Polyatomic {
    .element-symbol {
      background-color: #9988ff;
    }
  }

  .Noble-Gas {
    .element-symbol {
      background-color: #99d6ff;
    }
  }

  .Diatomic-Nonmetal {
    .element-symbol {
      background-color: #e066ff;
    }
  }

  .Unknown {
    .element-symbol {
      background-color: #f2edf6;
    }
  }
}

.loading-bar{
  background-color: aliceblue;
  padding:0 !important;
  border-radius: 15px;
  border: 1px solid black;
  font-weight: bold;
}

.loading-container{
  border-radius: 15px;
  padding: 0 !important;
  background-color: gray;
  margin-bottom: 15px;
}
