.element {
  position: relative;
  left: 0;
  top: 0;
  width: 5vw;
  height: 5vw;
  transition: top .5s linear, left .5s linear, opacity .5s linear, transform 400ms linear;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, .1);
  cursor: pointer;
  float: left;
}

.table {
  margin: 63px 5vw 20px;
  width: 90vw;
}

.table.classic{
  margin-bottom: 48px;
}

#H {
  margin-right: 80vw;
}

#Be, #Mg {
  margin-right: 50vw;
}

#Ba, #Ra {
  margin-right: 5vw;
}

.Lanthanide {
  margin-top: 5vw !important;
  border-top-width: 1px;
}

#H, #Be, #Sc, #Ti, #V, #Cr, #Mn, #Fe, #Co, #Ni, #Cu, #Zn, #B, #C, #N, #O, #F, #He {
  border-top-width: 1px;
}

#H, .Alkali-Metal {
  border-left-width: 1px;
}

#La, #Ac {
  margin-left: 15vw;
}
.element-number, .element-weight, .element-symbol {
  transition: opacity 400ms linear, transform 400ms linear;
}

.element-number {
  font-size: 1.15vw !important;
  font-weight: 300;
  margin: 0;
}

.element-weight {
  font-size: 1vw !important;
  font-weight: 100;
  margin: 0;
}

.element-symbol {
  font-size: 1.25vw !important;
  font-weight: 200;
}

@media(max-width: 649px) {
  .element-weight {
    display: none !important;
  }
  .element-number{
    font-size: 1.5vw !important;
  }
  .element-symbol {
    font-size: 1.75vw !important;
  }
}

.yearDiscovered, .classic {
  .element:not(.more-info-element):hover {
    .element-symbol {
      zoom: 125%;
    }
  }
}



.footer{
  font-size: 12px;
  font-family: 'Vollkorn SC', serif;
  p{
    margin: 0;
  }
  a{
    &:hover{
      text-decoration: underline;
    }
    text-decoration: none;
    color: deepskyblue;
  }
}

