//PRE and POST TRANSITIONING



element-info-component ::ng-deep{
  .info-section, .exit, .close-button {
    opacity: 0;
    .top-circle{
      opacity: 1;
    }
  }
  max-height: 75vh;
  overflow-y: hidden;
  .element{
    backface-visibility: hidden;
    margin: 0 !important;
    position: relative;

  }
  .top-circle{
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  background-color: rgba(255,255,255,0) !important;
  position: absolute;
  top: 35px;
  left: 0px;
  width: 100%;
  height: auto;
  transition: all 400ms linear 200ms, transform 250ms linear, opacity 300ms linear 200ms;
}





//TRANSITIONING IN

.infoIn ::ng-deep {
  element-info-component {
    overflow-y: hidden;
    .element {
      transition: all 400ms linear, transform 250ms linear 400ms;
    }
    .info-section, .exit, .close-button {
      transition: opacity 300ms linear 450ms, height 300ms linear;
    }
    .top-circle {
      transition: transform 200ms linear;
    }
  }
  .table, .menu-container, .slider-container, .footer {
    opacity: 0;
  }
}




.startMoreInfoIn ::ng-deep{
  element-info-component {
    max-height: 75vh;
    overflow-y: hidden;
    .element {
      left: calc(50% - 50px) !important;
      top: 10px !important;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      transform: rotateY(180deg);
    }
  }
  .table, .menu-container, .footer, .slider-container{
    opacity: 0;
  }
}


.endMoreInfoIn ::ng-deep{
  element-info-component{
    max-height: none;
    .element{
      left: calc(50% - 50px) !important;
      top: 10px !important;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      transform: rotateY(180deg);
    }
    z-index: 100;
    .info-section, .exit, .close-button {
      opacity: 1;
    }
    .top-circle{
      transform: rotateY(0deg);
    }


  }
  .table, .menu-container, .footer, .slider-container{
    opacity: 0;
  }
}








//TRANSITIONING OUT

.infoOut ::ng-deep{
  element-info-component {
    max-height: 75vh;
    .element {
      transition: all 400ms linear 550ms, transform 200ms linear 200ms;
    }
    .info-section, .exit, .close-button{
      transition: opacity 300ms linear;
    }
    .top-circle{
      transition: transform 200ms linear 300ms
    }
  }
  .table, .menu-container, .footer, .slider-container {
    transition: opacity 150ms linear;
    opacity: 0;
  }
}


.startMoreInfoOut ::ng-deep {
  element-info-component {
    max-height: 75vh;
    .info-section, .exit, .close-button {
      opacity: 0;
    }
    .top-circle {
      transform: rotateY(180deg);
    }
    .element {
      left: calc(50% - 50px) !important;
      top: 10px !important;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      transform: rotateY(0deg);
    }
    z-index: 100;
  }
}

.endMoreInfoOut ::ng-deep{
  element-info-component {
    max-height: 75vh;
    z-index: 0;
    .element{
      height: 5vw;
      width: 5vw;
    }

    .info-section, .exit, .close-button {
      opacity: 0;
    }
    .top-circle {
      transform: rotateY(180deg);
    }
  }
  .table, .menu-container, .footer, .slider-container {
    transition: opacity 150ms linear;
    opacity: 1;
  }
}


