.element-container{
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.element-number{
  font-weight: bold;
  font-size: 12px !important;
}
.element-weight{
  font-size: 10px !important;
}
.element-symbol{
  font-size: 27px !important;
}

p{
  padding: 0;
  margin: -4px !important;
}
@media(max-width: 1310px){
  .element-weight, .element-number{
    font-size: 10px !important;
  }

  .element-symbol{
    font-size: 20px !important;
  }

  p{
    margin: -3px !important;
  }
}


@media(max-width: 950px){
  .element-weight, .element-number{
    font-size: 9px !important;
  }

  .element-symbol{
    font-size: 18px !important;
  }

  p{
    margin: -4px !important;
  }

}
