.top-circle{
  padding-top: 15px;
  margin: 10px auto !important;
  width: 100px;
  height: 100px;
  border-radius: 50%;
   .symbol, .atomic-number{
     margin: 0;
     padding: 0;
   }

  .symbol{
    height: 50px;
    line-height: 50px;
    font-size: 45px;
  }

  .atomic-number{
    height: 25px;
    line-height: 25px;
    font-size:20px;
  }
}

.info-header{
  margin-top: 5px;
  clear: both;
  font-weight:bold;
  background-color: lightgray;
}



.exit{
  z-index: 100;
}

.info-container{
  width: 90%;
  margin: auto;
}
