<div class="col-xs-12 info-container col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" *ngIf="showRanking && !moreInfo" >
  <div class="exit" (click)="closeRanking.emit()"></div>
  <h2 class="col-xs-12 text-center">{{rankHeader()}}</h2>
  <div class="ranking-container col-xs-12">
    <h3 class="col-xs-12 text-center" *ngIf="style !== 'discoveryYear'">
      {{style !=='discoveryYear' ? 'Ranked by mass percentage' : 'Elements by year discovered'}}</h3>
    <div class="ranking" *ngFor="let e of elements; let i = index" ngClass="{{e.type}}" (click)="showMore.emit(e)">
      <div class="col-xs-12">{{i+1}}. {{e.name}}<span style="float: right;">{{e |rankingInfo:style}}</span></div>
    </div>
  </div>
</div>
