<div class="info-container" *ngIf="showRanking" >
  <div class="ranking-container">
  <div class="exit" style="background-image: url('/assets/exit.svg')" (click)="closeRanking.emit()"></div>
  <h2 class="text-center rank-heading">{{rankHeader()}}</h2>
    <h3 class="text-center rank-heading" *ngIf="style !== 'discoveryYear'">
      {{style !=='discoveryYear' ? 'Ranked by mass percentage' : 'Elements by year discovered'}}</h3>
    <div class="ranking" *ngFor="let e of elements; let i = index" ngClass="{{e['basic properties'].type}}">
      <div class="ranking-item">{{i+1}}. {{e['basic properties'].name}}<span class="float-right">{{e |rankingInfo:style}}</span></div>
    </div>
  </div>
  <button class="close-button text-center pointer" (click)="closeRanking.emit()">Close</button>
</div>

