<div class="info-container">
    <button mat-icon-button aria-label="Exit">
        <mat-icon [routerLink]="['/']" aria-hidden="false" aria-label="Example home icon">close</mat-icon>
        </button>
  <div class="top-circle" ngClass="{{element.basicProperties.type}}">
    <p class="symbol text-center">{{element.basicProperties.symbol}}</p>
    <p class="atomic-number text-center">{{element.basicProperties.atomicNumber}}</p>
  </div>

<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let el  of element | keyvalue:keepOrder" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{el.key | sentenceCase}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="float-left info" *ngFor="let info of element[el.key] | keyvalue:keepOrder">
          <b class="text-capitalize float-left">{{info.key | sentenceCase}}: </b><span class="float-right"> {{info.value}}</span>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-raised-button color="primary"  class="float-right close-button text-center pointer" [routerLink]="['/']">Close</button>
</div>
