.ranking{
  width: 98%;
  padding: 4px;
  margin: 2px auto !important;
  border: .5px solid rgba(black, .2);
  font-weight: 400 !important;
}

.exit{
  z-index: 100;
  cursor: pointer;
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 10px !important;
}

table{
  width: 100%;

}