<div class="info-container">
  <div class="ranking-container">
  <h2 class="text-center rank-heading text-capitalize">{{rankHeader()}}
    <div class="exit" (click)="closeRanking.emit()" >
      <span octicon="x" size="15"></span>
    </div>
  </h2>

<table mat-table [dataSource]="elements" class="mat-elevation-z8">

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  <ng-container *ngFor="let column of columns;" [cdkColumnDef]="column.columnDef">
    <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
  </ng-container>

</table>

</div>
<button class="float-right close-button text-center pointer" (click)="closeRanking.emit()">Close</button>
</div>
