
.discovered {
  transition: opacity 400ms linear;
  opacity: 1;
}

.undiscovered {
  transition: opacity 400ms linear;
  opacity: 0;
}

.element {
  position: relative;
  left: 0;
  top: 0;
  width: 5vw;
  height: 5vw;
  transition: top .5s linear, left .5s linear, opacity .5s linear;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, .1);
  cursor: pointer;
  float: left;
}

.table {
  margin: 0 5vw;
  width: 90vw;
}


#H {
  margin-right: 80vw;
}

#Be, #Mg {
  margin-right: 50vw;
}

#Ba, #Ra {
  margin-right: 5vw;
}

.Lanthanide {
  margin-top: 5vw !important;
  border-top-width: 1px;
}

#H, #Be, #Sc, #Ti, #V, #Cr, #Mn, #Fe, #Co, #Ni, #Cu, #Zn, #B, #C, #N, #O, #F, #He {
  border-top-width: 1px;
}

#H, .Alkali-Metal {
  border-left-width: 1px;
}

#La, #Ac {
  margin-left: 15vw;
}

.element-number {
  font-size: 1vw !important;
  font-weight: 300;
  margin: 0;
}

.element-weight {
  font-size: 1vw !important;
  font-weight: 100;
  margin: 0;
}

.element-symbol {
  font-size: 1.75vw !important;
  font-weight: 200;
  margin: -.2vw;
}

@media(max-width: 649px) {
  .element-weight {
    display: none !important;
  }
  .element-number{
    font-size: 1.5vw !important;
  }
  .element-symbol {
    font-size: 2vw !important;
  }
}
