.crustAbundance {
  .element {
    opacity: 0;
  }

  #O{opacity: 1;}
  #Si{opacity: 1;}
  #Al{opacity: 1;}
  #Fe{opacity: 1;}
  #Ca{opacity: 1;}
  #Mg{opacity: 1;}
  #Na{opacity: 1;}
  #K{opacity: 1;}
  #C{opacity: 1;}
  #H{opacity: 1;}
  #Mn{opacity: 1;}
  #P{opacity: 1;}
  #F{opacity: 1;}
  #S{opacity: 1;}
  #Sr{opacity: 1;}
  #Ba{opacity: 1;}
  #Vv{opacity: 1;}
  #Cl{opacity: 1;}
  #Zr{opacity: 1;}
  #Ni{opacity: 1;}
  #Zn{opacity: 1;}
  #Cu{opacity: 1;}
  #Ce{opacity: 1;}
  #Rb{opacity: 1;}
  #La{opacity: 1;}
  #Nd{opacity: 1;}
  #Co{opacity: 1;}
  #Y{opacity: 1;}
  #Sc{opacity: 1;}
  #N{opacity: 1;}
  #Ga{opacity: 1;}
  #Li{opacity: 1;}
  #Nb{opacity: 1;}
  #Pb{opacity: 1;}
  #Pr{opacity: 1;}
  #B{opacity: 1;}
  #Dy{opacity: 1;}
  #Th{opacity: 1;}
  #Sm{opacity: 1;}
  #Gd{opacity: 1;}
  #Hf{opacity: 1;}
  #Br{opacity: 1;}
  #Er{opacity: 1;}
  #Yb{opacity: 1;}
  #Sn{opacity: 1;}
  #As{opacity: 1;}
  #Be{opacity: 1;}
  #Cs{opacity: 1;}
  #U{opacity: 1;}
  #Eu{opacity: 1;}
  #Ta{opacity: 1;}
  #Ar{opacity: 1;}
  #Ge{opacity: 1;}
  #Ho{opacity: 1;}
  #Mo{opacity: 1;}
  #Tb{opacity: 1;}
  #Lu{opacity: 1;}
  #Tl{opacity: 1;}
  #I{opacity: 1;}
  #Tm{opacity: 1;}
  #Sb{opacity: 1;}
  #In{opacity: 1;}
  #Cd{opacity: 1;}
  #Ag{opacity: 1;}
  #Hg{opacity: 1;}
  #Se{opacity: 1;}
  #Pt{opacity: 1;}
  #Bi{opacity: 1;}
  #Pd{opacity: 1;}
  #He{opacity: 1;}
  #Au{opacity: 1;}
  #Ne{opacity: 1;}
  #Re{opacity: 1;}
  #Os{opacity: 1;}
  #Te{opacity: 1;}
  #Ru{opacity: 1;}
  #Rh{opacity: 1;}
  #Ir{opacity: 1;}
  #Kr{opacity: 1;}
  #Xe{opacity: 1;}
  #Ra{opacity: 1;}
  #Pa{opacity: 1;}
}
