// -- ANIMATIONS --//

@-webkit-keyframes ring1{
  from {
    -webkit-transform: rotate(0deg) translateX(2.5vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(2.5vw) rotate(-360deg);
  }
}

@-moz-keyframes ring1{
  from {
    -moz-transform: rotate(0deg) translateX(2.5vw) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateX(2.5vw) rotate(-360deg);
  }
}

@-o-keyframes ring1{
  from {
    -o-transform: rotate(0deg) translateX(2.5vw) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateX(2.5vw) rotate(-360deg);
  }
}

@keyframes ring1{
  from {
    transform: rotate(0deg) translateX(2.5vw) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(2.5vw) rotate(-360deg);
  }
}

// ------ MIXIN ---------- //

@mixin orbitalCenter($y, $x, $i) {
  border: none;
  background-color: rgba(white, 0);
  top: ((6- $y) * 5vw)+ ((random(30)-20)*1vw);
  left: ((10-$x) * 5vw)+ ((random(70)-40)*1vw);
  opacity: 1;
  .element-symbol {
    width: (5*(80-$i)/80)*1.5vw !important;
    height: (5*(80-$i)/80)*1.5vw !important;
    margin: 0 !important;
    border-radius: 50%;
    font-size: (5*(80-$i)/80)*.75vw !important;
  }
  animation: ring1 ((random(100)*150ms)+350ms) linear infinite;
}

// -------STYLES-----------//



.universeAbundance {
  .element .element-weight, .element .element-number, .element {
    opacity: 0;
  }
  #H {
    @include orbitalCenter(1, 1, 1);
  }
  #He {
    @include orbitalCenter(1, 18, 2);
  }
  #O {
    @include orbitalCenter(2, 16, 3);
  }
  #C {
    @include orbitalCenter(2, 14, 4);
  }
  #Ne {
    @include orbitalCenter(2, 18, 5);
  }
  #Fe {
    @include orbitalCenter(4, 8, 6);
  }
  #N {
    @include orbitalCenter(2, 15, 7);
  }
  #Si {
    @include orbitalCenter(3, 14, 8);
  }
  #Mg {
    @include orbitalCenter(3, 2, 9);
  }
  #S {
    @include orbitalCenter(3, 16, 10);
  }
  #Ar {
    @include orbitalCenter(3, 18, 11);
  }
  #Ca {
    @include orbitalCenter(4, 2, 12);
  }
  #Ni {
    @include orbitalCenter(4, 10, 13);
  }
  #Al {
    @include orbitalCenter(3, 13, 14);
  }
  #Na {
    @include orbitalCenter(3, 1, 15);
  }
  #Mn {
    @include orbitalCenter(4, 7, 16);
  }
  #P {
    @include orbitalCenter(3, 15, 17);
  }
  #K {
    @include orbitalCenter(4, 1, 18);
  }
  #Co {
    @include orbitalCenter(4, 9, 19);
  }
  #Cl {
    @include orbitalCenter(3, 17, 20);
  }
  #V {
    @include orbitalCenter(4, 5, 21);
  }
  #F {
    @include orbitalCenter(2, 17, 22);
  }
  #Zn {
    @include orbitalCenter(4, 12, 23);
  }
  #Ge {
    @include orbitalCenter(4, 14, 24);
  }
  #Cu {
    @include orbitalCenter(4, 11, 25);
  }
  #Zr {
    @include orbitalCenter(5, 4, 26);
  }
  #Sr {
    @include orbitalCenter(5, 2, 27);
  }
  #Kr {
    @include orbitalCenter(4, 18, 28);
  }
  #Se {
    @include orbitalCenter(4, 16, 29);
  }
  #Sc {
    @include orbitalCenter(4, 3, 30);
  }
  #Nd {
    @include orbitalCenter(9, 7, 31);
  }
  #Rb {
    @include orbitalCenter(5, 1, 32);
  }
  #Ga {
    @include orbitalCenter(4, 13, 33);
  }
  #Ba {
    @include orbitalCenter(6, 2, 34);
  }
  #Pb {
    @include orbitalCenter(6, 14, 35);
  }
  #Ce {
    @include orbitalCenter(9, 5, 36);
  }
  #Xe {
    @include orbitalCenter(5, 18, 37);
  }
  #Te {
    @include orbitalCenter(5, 16, 38);
  }
  #As {
    @include orbitalCenter(4, 15, 39);
  }
  #Br {
    @include orbitalCenter(4, 17, 40);
  }
  #Y {
    @include orbitalCenter(5, 3, 41);
  }
  #Li {
    @include orbitalCenter(2, 1, 42);
  }
  #Pt {
    @include orbitalCenter(6, 10, 43);
  }
  #Sm {
    @include orbitalCenter(9, 9, 44);
  }
  #Mo {
    @include orbitalCenter(5, 6, 45);
  }
  #Ru {
    @include orbitalCenter(5, 8, 46);
  }
  #Sn {
    @include orbitalCenter(5, 14, 47);
  }
  #Os {
    @include orbitalCenter(6, 8, 48);
  }
  #Pd {
    @include orbitalCenter(5, 10, 49);
  }
  #Yb {
    @include orbitalCenter(9, 17, 50);
  }
  #Dy {
    @include orbitalCenter(9, 13, 51);
  }
  #Ir {
    @include orbitalCenter(6, 9, 52);
  }
  #Gd {
    @include orbitalCenter(9, 11, 53);
  }
  #Pr {
    @include orbitalCenter(9, 6, 54);
  }
  #Cd {
    @include orbitalCenter(5, 12, 55);
  }
  #Nb {
    @include orbitalCenter(5, 5, 56);
  }
  #Er {
    @include orbitalCenter(9, 15, 57);
  }
  #La {
    @include orbitalCenter(9, 4, 58);
  }
  #I {
    @include orbitalCenter(5, 17, 59);
  }
  #Hg {
    @include orbitalCenter(6, 12, 60);
  }
  #Be {
    @include orbitalCenter(2, 2, 61);
  }
  #B {
    @include orbitalCenter(2, 13, 62);
  }
  #Cs {
    @include orbitalCenter(6, 1, 63);
  }
  #Hf {
    @include orbitalCenter(6, 4, 64);
  }
  #Bi {
    @include orbitalCenter(6, 15, 65);
  }
  #Rh {
    @include orbitalCenter(5, 9, 66);
  }
  #Au {
    @include orbitalCenter(6, 11, 67);
  }
  #Ag {
    @include orbitalCenter(5, 11, 68);
  }
  #Ho {
    @include orbitalCenter(9, 14, 69);
  }
  #Tb {
    @include orbitalCenter(9, 12, 70);
  }
  #Eu {
    @include orbitalCenter(9, 10, 71);
  }
  #Tl {
    @include orbitalCenter(6, 13, 72);
  }
  #Th {
    @include orbitalCenter(10, 5, 73);
  }
  #Sb {
    @include orbitalCenter(5, 15, 74);
  }
  #In {
    @include orbitalCenter(5, 13, 75);
  }
  #Re {
    @include orbitalCenter(6, 7, 76);
  }
  #U {
    @include orbitalCenter(10, 7, 77);
  }
  #Tm {
    @include orbitalCenter(9, 16, 78);
  }
  #Lu {
    @include orbitalCenter(9, 18, 79);
  }
  #Ta {
    @include orbitalCenter(6, 5, 80);
  }

}
