table-component{
  background-color: white;
  overflow-y:hidden;
}

*, ::after, ::before {
  box-sizing: border-box;
}

svg:not(:root) {
  overflow: hidden;
}

          .octicon {
            display: inline-block;
            vertical-align: text-top;
            fill: currentColor;
          }
