<div class="main-container" ngClass="{{transitionStyle}}">
  <div class="table-container">
    <h3 class="text-center main-title">
      Periodic Table of Elements
    </h3>

    <!--TOP MENU -->

    <mat-button-toggle-group name="tableStyle" aria-label="Table Style" [(ngModel)]="style">
      <mat-button-toggle class="icon-container" value="classic">
        <mat-icon>table_chart</mat-icon>
        Standard View
      </mat-button-toggle >
      <mat-button-toggle  class="icon-container" value="crustAbundance">
        <mat-icon>terrain</mat-icon>
        Crust Abundance
      </mat-button-toggle >
      <mat-button-toggle  class="icon-container" value="humanAbundance">
        <mat-icon>person</mat-icon>
        Human Abundance
      </mat-button-toggle >
      <mat-button-toggle  class="icon-container" value="universeAbundance">
        <mat-icon>stars</mat-icon>
        Universe Abundance
      </mat-button-toggle >
      <mat-button-toggle  class="icon-container" value="yearDiscovered">
        <mat-icon>av_timer</mat-icon>
        Discovery Date
      </mat-button-toggle >
    </mat-button-toggle-group>


    <!--YEAR CONTROLS FOR CHRONOLOGICAL ORDER-->
    <year-controls-component *ngIf="style === 'yearDiscovered'" [elementYears]="elementYears" [year]="year"
      (setYear)="setYear($event)"></year-controls-component>

    <!--TABLE-->


    <div class="table " ngClass="{{style}}">
      <div *ngFor="let e of elements; let i = index" id="{{e.basicProperties.symbol}}"
        [routerLink]="['/element-info/'+e.basicProperties.name]"
        ngClass="{{e.basicProperties.type}} {{e.basicProperties.yearDiscovered > year? 'undiscovered' : 'discovered'}}"
        class="element">
        <div class='element-number text-center'>{{e.basicProperties.atomicNumber}}</div>
        <div class='element-symbol text-center'>{{e.basicProperties.symbol}}</div>
        <div class='element-weight text-center'>{{e.basicProperties.atomicMass | atomicMass}}</div>
      </div>
    </div>

    <!--SHOW RANKING BUTTON-->

    <div *ngIf="(!moreInfo) && style !== 'classic'" class="rankingButton text-center"
      [routerLink]="['/ranking/'+style]">
      <span octicon='list-ordered' size="20.5"></span>
      <span class="iconDescription">View List
        {{style== 'yearDiscovered' ? 'By Discovery Order' : 'Ranked By Mass'}}</span>
    </div>

    <!--FOOTER -->

    <footer class="footer text-center">
      <hr>
      <p>Designed by <a href="http://www.miketruax.com" target="_blank">Mike Truax</a></p>
      <p><a href="https://www.github.com/miketruax/periodic-table/" target="_blank">See The Code</a></p>
    </footer>

  </div>
  <!--ELEMENT RANKING -->


</div>